* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F2F3;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

img {
    display: block;
}

h1 {
    margin-top: 40px;
    font-family: "QuicksandBold";
    color: #333366;
    text-align: center;
    padding: 10px;
}

p {
    color: #A1A0A0;
    padding-left: 10px;
    font-family: "Roboto";
}

a:hover {
    color: #333366;
}

a {
    margin-left: 5px;
    color: #8A7DEA;
    padding-right: 10px;
    font-family: "Roboto";
}

.container > div {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

@font-face {
    font-family: "QuicksandBold";
    src: url("./res/fonts/Quicksand-Bold.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("./res/fonts/Roboto-Regular.ttf.ttf");
}

@media only screen and (max-width: 600px) {
    img {
        width: 80%;
    }
}